src/
node_modules/
.vscode/
.gitignore
*.log
r.bat
test/
build/test/
todo.txt
.nyc_output/
tsconfig.json
config.json
IX-D.ASX.IFT.IP-HOUR.csv
IX-D.ASX.IFT.IP-DAY.csv
test-day.bat
test-hour.bat
example-config.json